body {
    margin:50px 0px; padding:0px;
    text-align:center;
    background: #f8f8f8;
    }
    
#Content {
    width:500px;
    margin:0px auto;
    text-align:left;
    padding:15px;
    border:1px dashed #333;
    background-color:#eee;
    }