body{

	background: #f8f8f8;
	   padding-top: 7em;
    padding-right: 300px;
    padding-left: 400px;
     border-width: 5px;
    border-color: #3498db;
    float: center;
    border-style: double;
}

